<h2>Register New Witch/Wizard</h2>

<form method="post" action="/students">
  <label for="first-name"> First Name: </label>
  <input id="first-name" type="text" name="first_name"/>
<br>
  <label for="last-name"> Last Name: </label>
  <input id="last-name" type="text" name="last_name"/>
<br>
  <label for="house"> Sorting Hat Outcome: </label>
  <select id="house" name="house">
    <option value="Gryffindor"> Gryffindor </option>
    <option value="Ravenclaw"> Ravenclaw </option>
    <option value="Slytherin"> Slytherin </option>
    <option value="Hufflepuff"> Hufflepuff </option>
  </select>
<br>
  <label for="age"> Age: </label>
  <input type="text" id="age" name="age" />
  <br>
  <input type="submit" value="Confirm New Student">
</form>
